<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.mollyproject.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
    	android:name=".controller.MyApplication" 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name">
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.apps.home.HomePage"></activity>
        <activity android:name=".view.apps.UnimplementedPage"></activity>
		<activity android:name=".view.apps.results_release.ResultsReleasePage"></activity>
		<activity android:name=".view.apps.features.FeatureVotePage"></activity>
		<activity android:name=".view.apps.library.LibraryPage"></activity>
		<activity android:name=".view.apps.library.LibraryResultsPage"></activity>
		<activity android:name=".view.apps.map.PlacesPage"></activity>
		<activity android:name=".view.apps.contact.ContactPage"></activity>
		<activity android:name=".view.apps.contact.ContactResultsPage"></activity>
		<activity android:name=".view.apps.weather.WeatherPage"></activity>
		<activity android:name=".view.apps.search.SearchPage"></activity>
		<activity android:name=".view.apps.podcasts.PodcastsPage"></activity>
    </application>
</manifest>