<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.mollyproject.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
    	android:name=".controller.MyApplication" 
    	android:icon="@drawable/apple_touch_icon" 
    	android:label="@string/app_name">
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.apps.home.HomePage"></activity>
        
        <activity android:name=".view.apps.unimplemented.UnimplementedPage"></activity>
        
		<activity android:name=".view.apps.results_release.ResultsReleasePage"></activity>
		
		<activity android:name=".view.apps.features.FeatureVotePage"></activity>
		
		<activity android:name=".view.apps.feedback.FeedbackPage"></activity>
		
		<activity android:name=".view.apps.library.LibraryPage"></activity>
		<activity android:name=".view.apps.library.LibraryResultsPage"></activity>
		<activity android:name=".view.apps.library.LibraryBookResultPage"></activity>
		
		<activity android:name=".view.apps.places.PlacesPage"></activity>
		<activity android:name=".view.apps.places.PlacesNearbyPage"></activity>
		<activity android:name=".view.apps.places.PlacesNearbyDetailPage"></activity>
		<activity android:name=".view.apps.places.entity.PlacesResultsPage"></activity>
		<activity android:name=".view.apps.places.entity.PlacesEntityNearbyList"></activity>
		<activity android:name=".view.apps.places.entity.PlacesEntityNearbyDetailPage"></activity>
		<activity android:name=".view.apps.places.entity.PlacesEntityDirectionsPage"></activity>
		
		<activity android:name=".view.apps.contact.ContactPage"></activity>
		<activity android:name=".view.apps.contact.ContactResultsPage"></activity>
		
		<activity android:name=".view.apps.weather.WeatherPage"></activity>
		
		<activity android:name=".view.apps.search.SearchPage"></activity>
		<activity android:name=".view.apps.search.NewSearchPage"></activity>
		
		<activity android:name=".view.apps.transport.TransportPage"></activity>
		<activity android:name=".view.apps.transport.BusPage"></activity>
		<activity android:name=".view.apps.transport.TrainPage"></activity>
		
		<activity android:name=".view.apps.podcasts.PodcastsPage"></activity>
		<activity android:name=".view.apps.podcasts.PodcastsCategoryPage"></activity>
		<activity android:name=".view.apps.podcasts.IndividualPodcastPage"></activity>
		
		<activity android:name=".view.apps.status.ServiceStatusPage"></activity>
		
		<activity android:name=".view.apps.favourites.FavouritesPage"></activity>
		
		<activity android:name=".view.apps.news.NewsPage"></activity>
		
		<activity android:name=".view.apps.webcam.WebcamsPage"></activity>
		<activity android:name=".view.apps.webcam.IndividualWebcamPage"></activity>
		
		<activity android:name=".view.apps.weblearn.WebLearnPage"></activity>
		<activity android:name=".view.apps.weblearn.WebLearnLoginPage"></activity>
		<activity android:name=".view.apps.weblearn.announcement.WebLearnAnnouncementPage"></activity>
    </application>
</manifest>